// Colors
$bg-color: #fefefe !default;
$fg-color: #585858 !default;
$alt-bg-color: #dcdcdc !default;
$alt-fg-color: #444444 !default;
$link-color: #3366CC !default;
$secondary_color: #D62A49 !default;